<table>
  <tr>
    <td>Koha auth script url</td>
    <td>
      <%= text_field_tag 'settings[koha_auth_script_location]', @settings['koha_auth_script_location'], :size => 60 %>
    </td>
  </tr>
  <tr>
    <td>Login redirect url</td>
    <td>
      <%= text_field_tag 'settings[login_redirect_url]', @settings['login_redirect_url'], :size => 60 %>
    </td>
  </tr>
  <tr>
    <td>Use SSL</td>
    <td>
      <%= check_box_tag 'settings[use_ssl]', 1, @settings['use_ssl'] %>
    </td>
  </tr>
</table>
